.saved-header {
  padding: 40px 104px 56px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.saved-header__section-name {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
}

.saved-header__title {
  margin: 28px 0 30px;
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
}

.saved-header__tag-line {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}

.saved-header__tag {
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .saved-header {
    padding: 24px 40px 32px;
  }

  .saved-header__section-name {
    font-family: Roboto Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(26, 27, 34, 0.5);
  }

  .saved-header__title {
    margin: 16px 0 16px;
    font-family: Roboto Slab, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    color: #1a1b22;
  }
}

@media screen and (max-width: 600px) {
  .saved-header {
    padding: 8px 16px 32px;
  }

  .saved-header__section-name {
    font-family: Roboto Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: rgba(26, 27, 34, 0.5);
  }

  .saved-header__title {
    margin: 16px 0 50px;
    font-family: Roboto Slab, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    color: #1a1b22;
  }
}
