.saved-news {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.saved-news__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  gap: 16px;
  padding: 62px 102px;
  background-color: #f5f6f7;
  box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  .saved-news__container {
    margin-bottom: 110px;
    padding: 32px 40px;
    gap: 8px;
  }
}
@media screen and (max-width: 600px) {
  .saved-news__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
    padding: 24px 16px;
    margin-bottom: 9px;
  }
}
