.about {
  max-width: 1440px;
  padding: 80px 104px;
  /* border: red solid 1px; */
}

.about__container {
  width: 100%;
  display: flex;
  gap: 56px;
}

.avatar {
  max-width: 464px;
  min-width: 464px;
  height: 464px;
  background-image: url(../../images/avatar-tmp.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  /* border: 1px solid red; */
}

.about__info-container {
  display: flex;
  flex-direction: column;
}

.about__info-title {
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 24px;
}

.about__info-content {
  max-width: 600px;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 900px) {
  .about {
    padding: 40px;
  }

  .about__container {
    gap: 32px;
  }

  .avatar {
    margin-top: 21px;
    max-width: 232px;
    min-width: 232px;
    max-height: 232px;
  }

  .about__info-title {
    margin-top: 0;
    margin-bottom: 16px;
    font-family: Roboto Slab;
    font-size: 30px;
    line-height: 40px;
  }

  .about__info-content {
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 600px) {
  .about {
    padding: 32px 24px;
  }

  .avatar {
    margin: 0;
    max-height: 272px;
    max-width: 272px;
    min-width: 272px;
  }

  .about__container {
    flex-direction: column;
    align-items: center;
  }
}
