.cardList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardList__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  padding: 62px 102px;
}

.cardList__button {
  width: 288px;
  height: 64px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 80px;
  border: none;
  margin-top: 2px;
  cursor: pointer;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  opacity: 1;
  transition: background-color ease 0.5s;
  margin-bottom: 80px;
}

/* 0.9 opacity is impossible to see on that background */
.cardList__button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 900px) {
  .cardList__container {
    padding: 32px 40px;
    gap: 8px;
  }
}

@media screen and (max-width: 600px) {
  .cardList__container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
    padding: 16px 24px;
    margin-bottom: 0;
  }
}
